body {
    padding: 2px;
    width: 1240px;
    margin: auto;
    line-height: 1.8;
    color: black;
    background-color: white;
}

*, body, code, pre, p, h1, h2, h3, h4, h5, h6, li, a, div, span, th, td {
    font-family: "JetBrains Mono", Consolas, monospace;
}